 body {
    /*font-family: Arial;*/
    padding-top: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #555;
  }
  
  .container {
    margin: 0 auto;
    text-align: left;
  }

  .headings {
    font-size: 20px;
    padding-left: 20px;
    color: #565656;
    text-align: center;
  }
  
  .node rect {
    fill-opacity: 1.0;
    shape-rendering: crispEdges;
  }
  
  .node text {
    pointer-events: none;
    fill: #555;
  }
  
  .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .5;
  }
  
  .link:hover {
    stroke-opacity: 1.0 !important;
  }

  .active {
    stroke-opacity: 1.0 !important;
  }
  .inactive {
    stroke-opacity: 0.2 !important;
  }
  
  div.tooltip {
    position: absolute;
    padding: 5px;
    text-align: left;
    font: 12px sans-serif;
    color: #000;
    background: #AAA;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    border-radius: 8px;
  }

 #infotext {
    /*position: absolute;*/
    top: 20px;
    /*left: 106px;*/
    /*width: 950px;*/
  }

  #subtitle {
    /*position: relative;*/
    top: 55px;
    /*left: 370px;*/
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    /*width: 500px;*/
  }

  #treemap1, #treemap2, #treemap3,
  #treemap4, #treemap5, #treemap6 {
    position: relative;
    top: 64px;
    padding-top: 10px;
    padding-left: 10px;
    /*left: 0px;*/
  }

  #chart1 {
    position: relative;
    top: -600px;
  }

  #chart2 {
    position: relative;
    top: -620px;
  }


  #chart2 {
/*    position: relative;
    top: -600px;
    left: 180px;*/
  }

  table, th, td {
    border: none;
    border-collapse: collapse;
    width: 1*, 1*, 2*;
  }
  th, td {
    padding: 2px;
    text-align: left;
  }