 body {
    /*font-family: Arial;*/
    padding-top: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #555;
  }
  
  .container {
    margin-left: 10px;
  }

  .headings {
    font-size: 20px;
    padding-left: 20px;
    color: #565656;
    text-align: left;
  }
  
  .node rect {
    fill-opacity: 1.0;
    shape-rendering: crispEdges;
  }
  
  .node text {
    pointer-events: none;
    fill: #555;
  }
  
  .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .5;
  }
  
  .link:hover {
    stroke-opacity: 1.0 !important;
  }
  
  div.tooltip {
    position: absolute;
    padding: 5px;
    text-align: left;
    font: 12px sans-serif;
    color: #000;
    background: #AAA;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    border-radius: 8px;
  }

  #subtitle {
    position: relative;
    top: 85px;
    left: 370px;
    font-size: 14px;
    font-weight: bold;
    width: 500px;
  }

  #chart {
    position: relative;
    top: -550px;
    left: 0px;
  }

  table, th, td {
    border: none;
    border-collapse: collapse;
    width: 1*, 1*, 2*;
  }
  th, td {
    padding: 2px;
    text-align: left;
  }